.profile__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 1123px) {
  .profile__main {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__main {
    justify-content: center;
    margin-left: 23px;
    max-width: 282px;
  }
}
