.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  background-size: 10px;
  border: 1px solid #FFFFFF;
  align-self: flex-start;
  margin-top: 15px;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1123px) {
  .profile__edit-button {
    margin-top: 16px;
  }
}

@media screen and (max-width: 900px) {
  .profile__edit-button {
    margin-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    margin-top: 8px;
  }
}
