.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  border: none;
  background-size: contain;
}

.profile__avatar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: .4s;
}

.profile__avatar:hover::after {
  background-image: url(../../../images/edit-button.svg);
  background-color: rgba(0, 0, 0, .8);
  background-size: 26px 26px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1123px) {
  .profile__avatar {
    margin: 0 0 26px 0;
  }
}
