.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: 27px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
}

.popup__input:last-child {
  margin-bottom: 0;
}
